<h2>Living in hello!</h2>

<span>ng-group 10</span>

<mat-list>
    <mat-list-item>
        <button mat-button [routerLink] = "['/', appRoutesNames.DATA_BINDING]">Data Binding</button>
    </mat-list-item>

    <mat-list-item>
        <button mat-button [routerLink] = "['/', appRoutesNames.EVENT_BINDING]">Event Binding</button>
    </mat-list-item>

    <mat-list-item>
        <button mat-button [routerLink] = "['/', appRoutesNames.TYPESCRIPT]">TypeScript</button>
    </mat-list-item>

    <mat-list-item>
        <button mat-button [routerLink] = "['/', appRoutesNames.BUILT_IN_DIRECTIVES]">Built-in Directives</button>
    </mat-list-item>

    <mat-list-item>
        <button mat-button [routerLink] = "['/', appRoutesNames.CUSTOM_PIPES]">Custom Pipes</button>
    </mat-list-item>

    <mat-list-item>
        <button mat-button [routerLink] = "['/', appRoutesNames.COMPONENT_INTERACTION]">Component Interaction</button>
    </mat-list-item>

    <mat-list-item>
        <button mat-button [routerLink] = "['/', appRoutesNames.TEMPLATE_DRIVEN]">Template Driven</button>
    </mat-list-item>

    <mat-list-item>
        <button mat-button [routerLink] = "['/', appRoutesNames.MODEL_DRIVEN]">Model Driven</button>
    </mat-list-item>

    <mat-list-item>
        <button mat-button [routerLink] = "['/', appRoutesNames.NOTIFICATIONS]">Notifications</button>
    </mat-list-item>

    <mat-list-item>
            <button mat-button [routerLink] = "['/', appRoutesNames.CRUD]">CRUD</button>
        </mat-list-item>

</mat-list>

<div>
    <router-outlet></router-outlet>
</div>
